/* ==================================
about
================================== */

#about {
  margin-top: var(--space-7);
}
.about__title {
  font-weight: 100;
  font-size: var(--space-4);
  letter-spacing: 0.14em;
  padding-bottom: 100px;
}

.about__image {
  display: flex;
  justify-content: space-around;
  max-height: max-content;
  padding-bottom: 200px;
}

.about__image img {
  position: relative;
  width: 24.375vw;
}

.about__p {
  /* position: relative; */
  display: block;
  top: calc(var(--space-6) + var(--space-8));
  padding-bottom: 150px;
}

.about__p p {
  line-height: 1.9; /*!! */
}
