/* ==================================
about
================================== */

#about {
  position: relative;
  overflow: hidden;
  margin-top: var(--space-9);
}
.about__title {
  border: solid 1px var(--guide-line);
}

.about__bg {
  display: flex;
  justify-content: space-around;
  max-height: max-content;
  padding-bottom: calc(var(--space-6) + var(--space-9));
  border: solid 1px var(--guide-line);
}

.about__bg img {
  position: relative;
  width: 400px;
  box-shadow: var(--shadow-md);
  border: solid 1px var(--guide-line);
}

.about__p {
  display: block;
  margin-bottom: var(--space-5);
  border: solid 1px var(--guide-line);
}

.about__p p {
  line-height: 1.9; /*!! */
}
