/* ==================================
work --wrapper 
================================== */
#work {
  position: relative;
  overflow: hidden;
  margin-top: var(--space-9);
  margin-bottom: var(--space-6);
}
#work span {
  display: block;
  height: var(--space-6);
  border: solid 1px var(--guide-line);
}

/* --- overview --- */
.work__wrapper {
  display: flex;
  justify-content: space-around;
  gap: var(--space-7);
  border: solid 1px var(--guide-line);
}

.work__left img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
  margin-inline: auto;
  box-shadow: none;
  border-radius: var(--radius-md);
  object-fit: cover;
}
.work__left h2 {
  text-align: center;
}

.work__right {
  min-width: 400px;
  padding-right: var(--space-3);
}
.work__right dl {
  display: grid;
  grid-template-columns: 180px 1fr;
  margin: 0 auto;
  margin-top: var(--space-5);
  margin-bottom: var(--space-4);
}

.work__right dt,
.work__right dd {
  margin: 0;
  padding: var(--space-3) 0;
  border-bottom: 1px solid var(--color-border);
}
.work__right dt {
  font-weight: 600;
  padding-left: var(--space-2);
}
.work__right dd {
  line-height: 1.8;
}

.work__right p {
  margin: 0 auto;
  margin-bottom: var(--space-3);
}

.work__category {
  font-size: var(--fs-2);
  color: var(--color-category);
  line-height: 1;
  padding-left: var(--space-2);
  opacity: 0.8;
}

/* ======= tablet/sp境界 =======*/
@media (max-width: 768px) {
  #work {
    position: relative;
    overflow: hidden;
    margin-bottom: var(--space-4);
  }
  .work__title {
    margin-bottom: var(--space-1);
  }
  .work__wrapper {
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
  }
  /* .work__left img {
    min-width: 370px;
    min-width: 500px;
  } */

  .work__right dl {
    grid-template-columns: 160px 1fr;
  }
  /* .work__right dt,
  .work__right dd {
    padding: var(--space-2) 0;
  } */
}

/* ====== モバイル横: ～480px ====== */
@media (max-width: 480px) {
  .work__wrapper {
  }
  .work__right {
    min-width: 0cap;
  }
  /* .work__right dt,
  .work__right dd {
    padding: var(--space-2) var(--space-4);
  } */
}

/* ==================================
work --comment
================================== */

.comment__wrapper {
  display: block;
  border: solid 1px var(--guide-line);
  margin-bottom: var(--space-5);
}
.comment__list {
  display: flex;
  list-style: none;
  margin-bottom: var(--space-5);
}
.comment__list li {
  padding: 4px 8px;
  margin-left: var(--space-2);
  border: solid 1px;
  border-radius: var(--radius-md);
  display: block;
  width: max-content;
}

.comment__url {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-2);
  color: var(--color-subtext);
  line-height: 1;
  margin-left: var(--space-2);
  margin-bottom: var(--space-4);
}
/* ======= tablet/sp境界 =======*/
@media (max-width: 768px) {
  #comment {
    margin-bottom: var(--space-9);
  }
  .comment__wrapper {
    padding: 0 var(--space-2);
  }
  .comment__list li {
    margin-left: 0;
  }
}

/* ====== モバイル横: ～480px ====== */
@media (max-width: 480px) {
  .comment__list {
    display: grid;
    gap: 4px 8px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0;
    justify-items: center;
  }
  .comment__wrapper h3 {
    font-size: var(--fs-4);
  }
}

/* ==================================
work --image
================================== */
.image__list {
  position: relative;
  top: var(--space-4);
  list-style: none;
  padding: none;

  display: flex;
  padding: 0 15vw;
  object-position: center;
  /* object-fit: none; */
  justify-content: center;
}
.image__list li {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-4);
}

.image__list li img {
  display: block;
  object-fit: cover;
  box-shadow: var(--shadow-xl);
  border-radius: var(--radius-lg);
  max-width: 100%;
  height: auto;
}

.image__list span {
  display: block;
  height: 100px;
}
/* ======= tablet/sp境界 =======*/
@media (max-width: 768px) {
}
/* ==================================
work --story
================================== */
.story__title {
  display: flex;
  font-size: var(--fs-4);
}
.story__list {
  display: grid;
}
.story__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: var(--space-5);
}

.story__item h4 {
  min-width: 200px;
}
/* ======= tablet/sp境界 =======*/
@media (max-width: 768px) {
  #story {
    padding: 0 var(--space-2);
  }
  .story__item {
    flex-direction: column;
  }
  .story__item h4 {
    font-size: var(--fs-4);
    margin-bottom: var(--space-2);
    padding-left: var(--space-1);
  }
}
/* ==================================
work --user
================================== */
.user__title {
  display: flex;
  font-size: var(--fs-4);
}

.user__list {
  display: grid;
}
.user__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: var(--space-5);
}

.user__item h4 {
  min-width: 200px;
}
/* ======= tablet/sp境界 =======*/
@media (max-width: 768px) {
  #user {
    padding: 0 var(--space-2);
  }
  .user__item {
    flex-direction: column;
  }
  .user__item h4 {
    font-size: var(--fs-4);
    margin-bottom: var(--space-2);
    padding-left: var(--space-1);
  }
}
/* ==================================
work --wire
================================== */
.wire__title {
  display: flex;
  font-size: var(--fs-4);
}
.wire__list {
  display: flex;
  list-style: none;
  justify-items: center;
  grid-auto-flow: column;
  justify-content: center;
  gap: var(--space-2);
}

.wire__list li {
  overflow: hidden;
  padding: var(--space-2);
}

.wire__list img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wire__list li:nth-child(2) img {
  max-width: 500px;
}
/* ======= tablet/sp境界 =======*/
@media (max-width: 768px) {
  .wire__title {
    padding: 0 var(--space-4);
  }
  .wire__list {
    padding: 0;
  }
}
/* ==================================
work-common CheckMark
================================== */
.checkmark {
  padding-left: var(--space-4);
  position: relative;
}

.checkmark:before,
.checkmark:after {
  content: "";
  display: block;
  position: absolute;
}
.checkmark:before {
  width: var(--space-3);
  height: var(--space-3);
  border-radius: var(--space-3);
  background: #ffffff;
  border: 1px solid #000000;
  left: 0;
  top: 3px;
}
.checkmark:after {
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  width: var(--space-3);
  height: var(--space-1);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 5px;
  top: 6px;
}
