/* ==================================
work --wrapper 
================================== */
#work {
  position: relative;
  overflow: hidden;
  margin-top: var(--space-9);
}
#work span {
  display: block;
  height: var(--space-6);
  border: solid 1px var(--guide-line);
}

/* --- overview --- */
.work__wrapper {
  display: flex;
  justify-content: space-around;
  gap: var(--space-7);
  border: solid 1px var(--guide-line);
}

.work__left img {
  display: block;
  margin-inline: auto;
}
.work__left h2 {
  text-align: center;
}

.work__right {
  min-width: 400px;
  padding-right: var(--space-3);
}
.work__right dl {
  display: grid;
  grid-template-columns: 180px 1fr;
  margin: 0 auto;
  margin-top: var(--space-5);
  margin-bottom: var(--space-4);
}

.work__right dt,
.work__right dd {
  margin: 0;
  padding: var(--space-3) 0;
  border-bottom: 1px solid var(--color-border);
}
.work__right dt {
  font-weight: 600;

  padding-left: var(--space-2);
}
.work__right dd {
  line-height: 1.8;
}

.work__right p {
  margin: 0 auto;
  margin-bottom: var(--space-3);
}

.work__category {
  font-size: var(--fs-2);
  color: var(--color-category);
  line-height: 1;
  padding-left: var(--space-2);
  opacity: 0.8;
}

/* ==================================
work --comment
================================== */

.comment__wrapper {
  display: block;
  border: solid 1px var(--guide-line);
  margin-bottom: var(--space-5);
}
.comment__list {
  display: flex;
  list-style: none;
  margin-bottom: var(--space-5);
}
.comment__list li {
  padding: var(--space-1);
  margin-left: var(--space-2);
  border: solid 1px;
  border-radius: 10%;
}

.comment__url {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-2);
  color: var(--color-subtext);
  line-height: 1;
  margin-left: var(--space-2);
  margin-bottom: var(--space-4);
}
.comment__image {
  list-style: none;
  padding: none;
}
.comment__image li {
  display: block;
  margin-bottom: var(--space-4);
}

.comment__image li img {
  display: block;
  width: 70%;
}

.comment__image span {
  display: block;
  height: 100px;
}
